.header-link {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .header-list-item {
    display: inline-block;
    height: auto;
    margin-right: 1%;
    cursor: pointer;
    padding: 0.1%;
    margin: 0.1%;
    vertical-align: center;
  }
  
  .header-list-item:not(:first-child) {
    padding: 10px;
    margin-top: 10px;
  }
  
  .header-list-item:hover {
    border-top: none;
    font-weight: bold;
  }
  
  /* .aside-list-item {
    display: block;
    width: 98%;
    border-right: 2px solid #234465;
    margin-bottom: 10%;
    height: 10%;
    text-align: center;
  }
  
  .aside-link {
    color: #234465;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    height: 60%;
    display: block;
  } */
/*   
  .aside-list-item:hover {
    border-left: none;
    border-right: none;
    font-weight: bold;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    color: #ffa000;
  } */
  