
.container {
      width: 400px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 150px;
      border: 1px solid #d884a4;
      margin: auto;
      margin-top: 4%;
      margin-bottom: 5%;
      text-align: center;
  }
  
  .submit {
      margin-top: 50px;
  }
  
  .field{
      text-size-adjust:20px;
      margin-top: 20px;
  }

  .button {
      margin-top: 15px;
  }