.li {
    display: inline-block;
    text-decoration: none;
    align-self: center;  
    text-align: right;
    /* padding: 5px; */
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    margin-right: 5px;
    /* background-color: #234465; */
    width: 150px;
    height: 20px;
    cursor: pointer;
    font: 1.2rem bold;
}

.a {
    text-decoration: none;
    color: blanchedalmond;
}

.li:hover {
    /* background: #234465; */
    color: rgb(0, 0, 0);
    font-weight: bold;
}