.Footer {
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0px;
    background-color: #234465;
    color: #f2f6fa;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    margin-bottom: 1%;
}

.p {
    text-align: center;
}
  
.university {
    text-align: center;
    font-weight: bold;
  }