.container {
    width: 400px;
    padding: 80px;
    border: 1px solid #d884a4;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    text-align: center;
}

.submit {
    margin-top: 50px;
}

.input{
    margin-top: 50px;
}