.navigation {
    width: 100%;
    height: 16vh;
    background-color: #234465;
    color: blanchedalmond;
    position: fixed;
    top: 0;
  }
  
  .logo {
    width: 100px;
    height: 70px;
    margin: 5px;
  }

  .ul {
    /* position: relative; */
    justify-content: right;
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
  }